<div class="container flex text-white h-screen max-w-full p-7 gap-5">
    <app-sidebar></app-sidebar>
    <div class="w-full">
        <app-search-bar></app-search-bar>
        <div class="container px-4 h-full">
            <h3 class="text-3xl mb-6 font-light">TV Series</h3>
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
              <div class="card w-72 rounded relative" *ngFor="let movies of series">
                  <div class="overflow-hidden w-full">
                      <img
                          [src]="movies.thumbnail.regular.large"
                          [alt]="movies.thumbnail.regular"
                      />
                  </div>
                  <div class="flex flex-col">
                      <div class="flex gap-3 font-extralight text-sm">
                          <span>{{movies.year}}</span>
                          <span>{{movies.category}}</span>
                          <span>{{movies.rating}}</span>
                      </div>
                      <div class="block font-semibold">
                          {{movies.title}}
                      </div>
                  </div>
                  <div class="w-8 h-8 rounded-full bg-semi-dark-blue absolute top-5 right-4 flex items-center justify-center cursor-pointer">
                      <img src="../../../assets/icon-bookmark-empty.svg" alt="" class=" " />
                  </div>
             </div>
          </div>
          
    </div>
</div>
