
<form action="" [formGroup] = "passwordForm"></form>

<input type="password" formControlName="password" placeholder="enter enter password" class="w-full p-3 bg-transparent outline-none border-b border-b-gray-600 cursor-pointer text-white font-extralight focus:ring-blue-500 hover:border-white outline-0">
<input type="password" formControlName="repeatPassword" placeholder="repeat password" class="w-full p-3 bg-transparent outline-none border-b border-b-gray-600 cursor-pointer text-white font-extralight focus:ring-blue-500 hover:border-white outline-0">