<div class="h-screen p-6 relative">
    <div class="pad absolute top-50% left-50% transform -translate-x-50% -translate-y-50% w-full">
        <div class="w-full p-6 my-7  ">
            <img src="../../../assets/path.svg" alt="movie logo" class="mx-auto">
        </div>
    
        <form action="" class="bg-semi-dark-blue lg:w-1/5 lg:mx-auto mx-auto p-9 rounded-3xl">
            <h1 class="text-2xl text-white lg:text-3xl font-extralight"> Login</h1>
    
            <div class="relative w-full mt-9 flex flex-col gap-5">
                <input type="email" placeholder="enter email" class="w-full p-3 bg-transparent outline-none border-b border-b-gray-600 cursor-pointer text-white font-extralight focus:ring-blue-500 hover:border-white outline-0">
                <input type="password" placeholder="enter enter password" class="w-full p-3 bg-transparent outline-none border-b border-b-gray-600 cursor-pointer text-white font-extralight focus:ring-blue-500 hover:border-white outline-0">
                <button type="submit" class="bg-red-btn py-3 text-white mt-6 rounded">Log to your Account</button>
                <span class="text-center text-white text-sm">Don't have an Account? <a routerLink = '/signup' class="text-red-btn">Sign Up</a> </span>
            </div>
        </form>
    
    </div>
</div>

