<div class="relative h-screen p-6">
  <div
    class="pad absolute top-50% left-50% transform -translate-x-50% -translate-y-50% w-full"
  >
    <div class="w-full p-6 my-5">
      <img src="../../../assets/path.svg" alt="movie logo" class="mx-auto" />
    </div>

    <form
      action=""
      [formGroup]="register"
      (ngSubmit)="onSubmit()"
      class="bg-semi-dark-blue w-72 md:w-96 lg:w-96 lg:mx-auto mx-auto p-9 rounded-3xl"
    >
      <h1 class="text-2xl text-white lg:text-3xl font-extralight">Sign Up</h1>

      <div class="relative w-full mt-9 flex flex-col gap-5">
        <div class="w-full relative">
          <input
            type="email"
            formControlName="email"
            placeholder="enter email"
            class="w-full p-3 bg-transparent outline-none border-b border-b-gray-600 cursor-pointer text-white font-extralight focus:ring-blue-500 hover:border-white outline-0"
            [ngClass]="{
              'border-b-gray-600 hover:border-white': email?.valid || email?.pristine,
              'border-b-red-600': email?.invalid && email?.touched
            }"
          />
          <small class="text-red-800 absolute end-2.5 bottom-2.5">
            <div *ngIf="emailRequired">Email is required</div>
            <div *ngIf="emailValid">Email is invalid</div>
          </small>
        </div>
        <div class="w-full relative">
          <input
            type="password"
            formControlName="password"
            placeholder="enter enter password"
            class="w-full p-3 bg-transparent outline-none border-b border-b-gray-600 cursor-pointer text-white font-extralight focus:ring-blue-500 hover:border-white outline-0"
            [ngClass]="{
              'border-b-gray-600 hover:border-white': password?.valid || password?.pristine,
              'border-b-red-600': password?.invalid && password?.touched
            }"
          />
          <small class="text-red-800 absolute end-2.5 bottom-2.5">
            <div *ngIf="emailRequired">Email is required</div>
            <div *ngIf="emailValid">Email is invalid</div>
          </small>
        </div>

        <div class="w-full relative">
          <input
          type="password"
          formControlName="repeatPassword"
          placeholder="repeat password"
          class="w-full p-3 bg-transparent outline-none border-b border-b-gray-600 cursor-pointer text-white font-extralight focus:ring-blue-500 hover:border-white outline-0"
          [ngClass]="{
            'border-b-gray-600 hover:border-white': password?.valid || password?.pristine,
            'border-b-red-600': password?.invalid && password?.touched
          }"
        />
        <small class="text-red-800 absolute end-2.5 bottom-2.5 ">
          <div *ngIf="passwordRepeat">Mismatch password</div>
          
        </small>
        </div>
        
        <button type="submit" class="bg-red-btn py-3 text-white mt-6 rounded transition-all hover:bg-slate-200 hover:text-slate-600">
          Create an Account
        </button>
        <span class="text-center text-white text-sm"
          >Already have an Account?
          <a routerLink="" class="text-red-btn">Log in</a>
        </span>
      </div>
    </form>
  </div>
</div>
