<div class="relative flex text-white h-screen max-w-full container p-7 gap-5">
    <app-sidebar></app-sidebar>
    <div class="w-full">
      <div class="container flex w-full p-4 gap-3 items-center">
        <img
          src="../../../assets/icon-search.svg"
          alt=""
          class="cursor-pointer w-6 h-6"
        />
        <input
          [(ngModel)]="searchQuery"
          type="text"
          placeholder="Search for recommended movies..."
          class="outline-none border-none w-full p-2 text-lg text-white bg-transparent"
          (keyup.enter)="filterMovies()"
        />
      </div>
      <div class="container px-4 h-full">
        <h3 class="text-3xl mb-6 font-light">Recommended for you</h3>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
          <div class="card w-72 rounded relative cursor-pointer" *ngFor="let movie of filteredMovies">
            <div class="overflow-hidden w-full relative">
              <img [src]="movie.thumbnail.regular.large" [alt]="movie.thumbnail.regular" />
              <div class="absolute inset-0 bg-black bg-opacity-25"></div>
            </div>
            <div class="flex flex-col">
              <ul class="flex gap-3 font-normal text-sm text-semi-grayish-blue py-2 w-full">
                <li>{{ movie.year }}</li>
                <li class="flex gap-1 items-center">
                  <img [src]="movie.categoryImage" alt="" />
                  {{ movie.category }}
                </li>
                <li>{{ movie.rating }}</li>
              </ul>
              <div class="block font-semibold">{{ movie.title }}</div>
            </div>
            <div class="w-8 h-8 rounded-full bg-semi-dark-blue absolute top-5 right-4 flex items-center justify-center cursor-pointer" (click)="toggleBookmark(movie)">
              <img [src]="movie.isBookmarked ? 'assets/icon-bookmark-full.svg' : 'assets/icon-bookmark-empty.svg'" alt="" class="" />
            </div>
            <div class="absolute play flex items-center justify-between gap-3 rounded-3xl w-26 px-3 py-1 transition-all opacity-0">
              <img src="../../../assets/icon-play.svg" alt="" />
              <span class="text-white opacity-100">Play</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  