<div class="container h-full w-28 bg-semi-dark-blue sticky mx-auto rounded-3xl flex flex-col gap-6">
    <div class="flex items-center justify-center mx-auto py-7">
        <div class="items-center">
            <img src="../../../assets/path.svg" alt="logo">
        </div>
    </div>

    <div class="flex flex-col items-center justify-between h-full py-9">
        <div class="flex items-center justify-center flex-col gap-6">
            <a routerLink = "/home" routerLinkActive="active">
                <img src="../../../assets/icon-nav-home.svg" alt="" class="w-5 cursor-pointer">
            </a>
            <a routerLink = "/movies" routerLinkActive="active">
                <img src="../../../assets/icon-nav-movies.svg" alt="" class="w-5 cursor-pointer">
            </a>
            <a routerLink = "/series" routerLinkActive="active">
                <img src="../../../assets/icon-nav-tv-series.svg" alt="" class="w-5 cursor-pointer">
            </a>
            <a routerLink = "/bookmark" routerLinkActive="active">
                <img src="../../../assets/icon-nav-bookmark.svg" alt="" class="w-5 cursor-pointer">
            </a>
        </div>
    
        <div class="w-50% border-2 border-white rounded-full mx-auto cursor-pointer">
            <img src="../../../assets/image-avatar.png" alt="">
        </div>
    </div>

   
</div>
