<div class="container lg:h-full w-full lg:w-28 bg-semi-dark-blue sticky lg:mx-auto rounded-3xl flex items-center justify-between lg:flex-col px-3 md:flex-row ">
    <div class="flex items-center justify-center lg:w-full py-6">
            <img src="../../../assets/path.svg" alt="logo">
    </div>

    <div class="flex flex-row  lg:flex-col items-center lg:h-full lg:py-9">
        <div class="flex flex-row items-center justify-center lg:flex-col gap-6">
            <div class="flex flex-row items-center justify-center lg:flex-col gap-6">
                <a *ngFor="let item of navItems" [routerLink]="item.path" routerLinkActive="active" #rla="routerLinkActive">
                    <img [src]="'../../../assets/' + (rla.isActive ? item.activeIcon : item.icon)" alt="" class="w-5 cursor-pointer">
                  </a>
            </div>
        </div>
    </div>

    <div class=" w-9 lg:w-50% border-2 border-white rounded-full lg:mx-auto cursor-pointer">
        <img src="../../../assets/image-avatar.png" alt="">
    </div>

   
</div>
